* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.vh-80 {
  height: 80vh;
}

.divider {
  height: 5px;
  width: 80px;
  background-color: rgba(0, 0, 0, 1);
}

.line-div {
  height: 5px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.bg-cream {
  background-color: rgba(241, 246, 245, 0.5);
}

.list-style-type-circle {
  list-style-type: "";
}

.profile {
  width: 150px;
  height: 150px;
}

.w-15 {
  width: 70px;
}

.bg-lighter {
  background-color: #f1f6f9;
  color: #9ea0a3;
}

.python-box {
  background-color: #c5cbce;
}

.python {
  width: 70%;
  height: 5px;
  background-color: rgb(156, 153, 153);
}

.javascript {
  width: 65%;
  height: 5px;
  background-color: rgb(156, 153, 153);
}

.html {
  width: 65%;
  height: 5px;
  background-color: rgb(156, 153, 153);
}

.wordpress {
  width: 50%;
  height: 5px;
  background-color: rgb(156, 153, 153);
}

@media screen and (max-width: 768px) {
  .w-md-50 {
    width: 50%;
  }
}
